.gradle
.settings
.idea
build
out

.vscode
*.code-workspace
*.class
*.jar

scripts/config/calls
scripts/config/deploy

!gradle/wrapper/gradle-wrapper.jar

*.pwd
*.icx

testsvc/

.project
.classpath

*.pyc
venv/

R&D/TODO

head
